body{
    user-select: none;
    background-color: #2B2D2F;
    font-family: 'Tahoma';
}
.clearAll{
    grid-column: 1/3;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3px;
    background-color: #2B2D2F;
    margin: 10% auto;
    padding: 2px;
    max-width: 350px;
}
.item{
    color: white;
    padding: 15px;
    display: flex;
    border: 0;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
}
.item:hover{
    background-color: #2B2D2F;
}
.input{
    height: 80px;
    grid-column: 1/-1;
    padding: 0;
}
.input-in{
    height: 50px;
}
.input-in-helper{
    height: 30px;
    font-size: 15px;
}
.input-in, .input-in-helper{
    color: white;
    background-color: #2B2D2F;
    width: 350px;
    border: none;
    font-size: 30px;
    outline: none;
    text-align: right;
}
.point{
    background-color: #5F6062;
}
.zero{
    background-color: #5F6062;
    grid-column: 3/1;
}
.num{
    background-color: #5F6062;
}
.operator{
    background-color: #FD9E2B;
}
.equal{
    background-color: #FD9E2B;
}
.other{
    background-color: #3F4143;
}



